<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="ObjectListView" publicKeyToken="B1C5BF581481BCD4" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.5.1.37179" newVersion="2.5.1.37179"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
