<?xml version="1.0" encoding="utf-8"?>
<root>
  <Item>
    <Key>
      <string>SO.EEMS-R1.Path_Log</string>
    </Key>
    <Value>
      <string>E:\LOG_DATA</string>
    </Value>
  </Item>
  <Item>
    <Key>
      <string>AO.EEMS-R1.pulse_per_gas</string>
    </Key>
    <Value>
      <double>0.01</double>
    </Value>
  </Item>
  <Item>
    <Key>
      <string>AO.EEMS-R1.gas_per_KRW</string>
    </Key>
    <Value>
      <double>4</double>
    </Value>
  </Item>
  <Item>
    <Key>
      <string>AO.EEMS-R1.ingot_per_kg</string>
    </Key>
    <Value>
      <double>0.1</double>
    </Value>
  </Item>
  <Item>
    <Key>
      <string>AO.EEMS-R1.scrap_per_kg</string>
    </Key>
    <Value>
      <double>0.1</double>
    </Value>
  </Item>
  <Item>
    <Key>
      <string>AO.EEMS-R1.plc_watt_per_pc_watt</string>
    </Key>
    <Value>
      <double>0.1</double>
    </Value>
  </Item>
  <Item>
    <Key>
      <string>AO.EEMS-R1.pc_watt_per_KRW</string>
    </Key>
    <Value>
      <double>1</double>
    </Value>
  </Item>
  <Item>
    <Key>
      <string>AO.EEMS-R1.tower_temp_factor</string>
    </Key>
    <Value>
      <double>1</double>
    </Value>
  </Item>
  <Item>
    <Key>
      <string>AO.EEMS-R1.furnace_temp_factor</string>
    </Key>
    <Value>
      <double>1</double>
    </Value>
  </Item>
  <Item>
    <Key>
      <string>AO.EEMS-R1.Num_Of_Workgroups</string>
    </Key>
    <Value>
      <int16>1</int16>
    </Value>
  </Item>
  <Item>
    <Key>
      <string>AO.EEMS-R1.PLC_Max_Gas</string>
    </Key>
    <Value>
      <int32>999999990</int32>
    </Value>
  </Item>
  <Item>
    <Key>
      <string>AO.EEMS-R1.PLC_Max_Watt</string>
    </Key>
    <Value>
      <int32>999999999</int32>
    </Value>
  </Item>
  <Item>
    <Key>
      <string>SO.EEMS-R1.ReferenceTime_Workday</string>
    </Key>
    <Value>
      <string>08:00:00</string>
    </Value>
  </Item>
</root>